    @import url(https://fonts.googleapis.com/css?family=Courgette);
    body {
        background: rgb(24, 26, 27);
        text-align: center;
        font-family: 'Courgette', cursive;
        color: pink;
    }
    /*======= INDEX =========*/
    
    a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: cursive;
        box-sizing: border-box;
        background: linear-gradient(90deg, rgb(224, 24, 24), rgb(224, 24, 24), rgba(255, 0, 0, 1), rgba(255, 0, 0, 1));
        background-size: 400%;
        border-radius: 30px;
        z-index: 1;
    }
    
    a:hover {
        animation: animate 7s linear infinite;
    }
    
    @keyframes animate {
        0% {
            background-position: 0%;
        }
        100% {
            background-position: 400%;
        }
    }
    
    a::before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg, #e01818, #d32323, #ff0000, #811010);
        background-size: 400%;
        border-radius: 40px;
        opacity: 0;
        transition: opacity .5s;
    }
    
    a:hover::before {
        filter: blur(20px);
        opacity: 1;
        animation: animate 7s linear infinite;
    }
    /*======== HEART ========*/
    
    h1 {
        line-height: 2;
    }
    
    svg {
        animation: bit 1s infinite;
        -webkit-animation: bit 1s infinite;
        transition: transform 1s;
        -webkit-transition: transform 1s;
        -webkit-animation-delay: 6s;
        animation-delay: 6s;
    }
    
    #myHeart {
        stroke: red;
        stroke-width: 7px;
        fill-opacity: 0;
    }
    
    svg path {
        stroke: rgb(255, 255, 255);
        stroke-dasharray: 1300;
        stroke-dashoffset: 0;
        stroke-width: 3px;
        fill-opacity: 0;
        animation: anim 12s linear forwards;
        -webkit-animation: anim 12s linear forwards;
    }
    
    @keyframes anim {
        0% {
            stroke-dashoffset: 1000;
            fill: rgba(255, 0, 0, 0);
        }
        50% {
            stroke-dashoffset: 0;
            fill: rgba(255, 0, 0, 0);
            fill-opacity: 0;
        }
        100% {
            fill: rgba(255, 0, 0, 1);
            fill-opacity: 1;
        }
    }
    
    @-webkit-keyframes anim {
        0% {
            stroke-dashoffset: 1000;
            fill: rgba(255, 0, 0, 0);
        }
        50% {
            stroke-dashoffset: 0;
            fill: rgba(255, 0, 0, 0);
            fill-opacity: 0;
        }
        100% {
            fill: rgba(255, 0, 0, 1);
            fill-opacity: 1;
        }
    }
    
    @keyframes bit {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.3);
        }
        100% {
            transform: scale(1);
        }
    }